.dsSlider {
    display: inline-block;
    vertical-align: middle;
}

.slideBar {
    width: 100%;
    background-color: rgb(72, 194, 233);
    height: 4px;
    z-index: 1;
    padding: 0;
    position: relative;
    right: 0;
}

.minSlider, .maxSlider {
    background-color: gray;
    width: 15px;
    height: 15px;
    z-index: 2;
    border-radius: 4px;
    position: relative;
}

.dsSlider.positioner {
    position: relative;
    font-size: 0;
    float: left;
}

.dsSlider.container {
    width: 50%;
    border: 1px solid gainsboro;
    box-shadow: 1px 1px 3px gainsboro;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    /* padding left 33px for 2 * 15px slider */
    padding: 3px 33px 3px 3px;
    box-sizing: border-box;
}

.background {
    width: 100%;
    float: left;
}

.dsSlider.slideBar.background {
    z-index: -1;
    position: relative;
    overflow: hidden;
    top: 10px;
    height: 2px;
    background-color: white;
    border-top: 2px dashed rgb(223, 223, 223);
}